In [2]:
fruits = ['orange', 'apple', 'pear', 'banana']
for x in fruits:
    print(x)

orange
apple
pear
banana

In [9]:
name = "Areeba Shakeel"
for char in name:
    print(char, end="ðŸ˜‰")

AðŸ˜‰rðŸ˜‰eðŸ˜‰eðŸ˜‰bðŸ˜‰aðŸ˜‰ ðŸ˜‰SðŸ˜‰hðŸ˜‰aðŸ˜‰kðŸ˜‰eðŸ˜‰eðŸ˜‰lðŸ˜‰

In [10]:
for num in range(5):
    print(num)

0
1
2
3
4

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
for x in range(1, 21, 3):
    print(x)

1
4
7
10
13
16
19

In [3]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [14]:
#for a single number table
for i in range(1,11):
    print(15, "X", i, "=", 15*i)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [13]:
#print table of 5 to 10
for i in range(5, 11):
    for j in range(1, 11):
        print(i, "X", j, "=", i*j)
    print("\n")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90


10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [15]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [16]:
x = 1
while x<=20:
    if x % 2 == 0:
        print(x)
    x += 1

2
4
6
8
10
12
14
16
18
20

Break and Continue

In [17]:
fruits = ['orange', 'apple', 'pear', 'banana','ladyfinger', 'kiwi', 'apple', 'banana']
for x in fruits:
    if x == 'ladyfinger':
        break
    print(x)

orange
apple
pear
banana

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana','ladyfinger', 'kiwi', 'apple', 'banana']
for x in fruits:
    if x == 'ladyfinger':
        continue
    print(x)

orange
apple
pear
banana
kiwi
apple
banana