- how to declare it
- how to access kay and values of a dictionary
- how to use loops in dictionary
- indexing in dictionary

In [1]:
student = {
    "name" : "John",
    "class": "Physics",
    "rollno": 12,
    "age": 18,
    "marks": 60
}
print(student)

{'name': 'John', 'class': 'Physics', 'rollno': 12, 'age': 18, 'marks': 60}

In [2]:
temp = {
    'lucknow': [25,30,35],
    'delhi' : [30,35,40],
    'mumbai': [35,40,45]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [3]:
info = dict(name="John", age=18, rollno=12, marks=60)
print(info)

{'name': 'John', 'age': 18, 'rollno': 12, 'marks': 60}

In [4]:
info2 = dict(name = input("Enter name: "), age = int(input("Enter age: ")), 
rollno = int(input("Enter rollno: ")), marks = int(input("Enter marks: ")))
print(info2)

{'name': 'abc', 'age': 23, 'rollno': 121, 'marks': 34}

In [5]:
#1st method to acces value through its key
print(info2['name'])
print(info2['age'])

abc
23

In [6]:
#2nd method to acces value through its key
print(info2.get('name'))
print(info2.get('marks'))

abc
34

In [7]:
#to add items in a dictionary
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': 'Physics', 'rollno': 12, 'age': 18, 'marks': 60, 'city': 'Lucknow'}

In [8]:
print(student.keys())
print(student.values())

dict_keys(['name', 'class', 'rollno', 'age', 'marks', 'city'])
dict_values(['John', 'Physics', 12, 18, 60, 'Lucknow'])

In [9]:
for k in student:
    print(k)

name
class
rollno
age
marks
city

In [10]:
for k,v in student.items():
    print(f'{k} : {v}')

name : John
class : Physics
rollno : 12
age : 18
marks : 60
city : Lucknow

In [11]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'dept' : 'HR'
    },
    'emp002' : {
        'name' : 'Doe',
        'age' : 30,
        'dept' : 'IT'
    },
    'emp003' : {
        'name' : 'Smith',
        'age' : 35,
        'dept' : 'Finance'
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR'}, 'emp002': {'name': 'Doe', 'age': 30, 'dept': 'IT'}, 'emp003': {'name': 'Smith', 'age': 35, 'dept': 'Finance'}}

In [12]:
from pprint import pp
pp(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR'},
 'emp002': {'name': 'Doe', 'age': 30, 'dept': 'IT'},
 'emp003': {'name': 'Smith', 'age': 35, 'dept': 'Finance'}}

In [13]:
print(company['emp002']['age'])

30

In [14]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [15]:
print('Average Temperature of Delhi is : ', sum(temp['delhi'])/len(temp['delhi']))

Average Temperature of Delhi is :  35.0