In [1]:
name = "John Doe"
print(name)

John Doe

In [2]:
print(name[3])

n

In [3]:
print(name[0:4])

John

In [4]:
#STRING CONCATENATION
a = "My name is"
b = "John Doe"
print(a + " " + b)

My name is John Doe

In [5]:
#String Duplication
word = "Hi"
print(word*10)

HiHiHiHiHiHiHiHiHiHi

In [6]:
word = 'beautiful'
word.upper()

'BEAUTIFUL'

In [7]:
word.lower()

'beautiful'

In [8]:
word.capitalize()

'Beautiful'

In [9]:
x = "You are fool"
x.split()

['You', 'are', 'fool']

In [10]:
poem = '''twinkle twinkle little star
how I wonder what you are
up above the world so high
like a diamond in the sky'''
print(poem)

twinkle twinkle little star
how I wonder what you are
up above the world so high
like a diamond in the sky

In [11]:
poem.splitlines()

['twinkle twinkle little star',
 'how I wonder what you are',
 'up above the world so high',
 'like a diamond in the sky']

In [12]:
poem.find("wonder")

34

In [13]:
p = '''Johny Johny yes papa
eating sugar no papa
telling lies no papa
open your mouth ha ha ha'''

In [19]:
poem = p.replace("papa", "mama").replace("sugar","poison").replace("ha ha ha","na na na").replace("no","yes")
print(poem)

Johny Johny yes mama
eating poison yes mama
telling lies yes mama
open your mouth na na na

In [21]:
#armstrong number
num = 153
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

153 is an Armstrong number